.ref{
    position: relative;
}
.moveToRef{
    position: absolute;
    top:0;
    right: 0;
}

/*at small screens*/
@media only screen and (max-width:767px){
    .moveToRef{
        position: absolute;
        top:-40px;
        right: 0;
    }
    

}