footer{
    /*background for the footer*/
    background-image: url(../../assets/photos/footerImg.jpg);
    background-size: contain;
    height: 200px;
    width: 100%;
    margin-top: 300px;
}
footer img{
    width: 8.5rem;
    
}
@media only screen and (max-width:506px){
    footer li,.phone_no{
        padding-left: 2px;
        padding-right: 0px;
    }
    

}
