footer{
    /*background for the footer*/
    background-image: url(../../assets/photos/footerImg.jpg);
    background-size: contain;
    height: 200px;
    margin-top: 400px;
}
footer img{
    width: 150px;
    
}
