<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-light mb-2 shadow">
                    <div class="card-header text-center">SIGN IN</div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit(signinForm)" #signinForm="ngForm">
                            <!--Username field-->
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input 
                                class="form-control"
                                [ngClass]="{'border border-danger':email.touched&&!email.valid}"
                                name="email"
                                type="email"
                                ngModel
                                #email="ngModel"
                                required
                                email>
                            </div>
                            <!--password field-->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input 
                                class="form-control" 
                                [ngClass]="{'border border-danger':password.touched&&!password.valid}"
                                name="password" 
                                ngModel
                                #password="ngModel"
                                type="password"
                                required
                                password>
                            </div>
                            
                            <!--submit button-->
                            <div>
                                <div class="text-center">
                                    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
                                </div>
                                <button 
                                *ngIf="!isLoading"
                                class="btn btn-outline-secondary text-primary font-weight-bold d-block mx-auto"
                                type="submit"
                                [disabled]="!signinForm.valid"
                                >Sign In
                                </button>
                                <!--Error Area-->
                                <div 
                                class="alert alert-danger small text-center" 
                                *ngIf="errorMessage && !isLoading">{{errorMessage}}
                                </div>
                            </div>
                        </form>
                    </div>
        </div>
    </div>
</div>
</div>
