main{
    /*Adjust the spacing betwwen footer and header*/
    min-height: calc(100vh-200px-600px);
}


header{
    position: relative; /*all absolutes are relative to this*/
}

.background-blur{
    position: absolute; /*Relative to the header only*/
    left: 0;
    right:0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-image: url(../../assets/photos/bgImg.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(4px);
    height: 1000px; /*same as header*/
  
}
.content{
    position: relative; /*Any thing in the content is relative to this div*/
    z-index: 2; 
}
