<header>
    <div class="container">
        <div class="row">
            <!--information about website-->
            <div class="col-md-7 col-12">
                <div>
                    <p class="text-white">
                        Welcome to <app-memosland-text class="h3 bold"></app-memosland-text>,
                    </p>
                </div>
            </div>

            <!--sign up form-->
            <div class="col-md-5 col-12">


            </div>
        </div>
    </div>
</header>
