<div class="background-blur">

</div>
<header>
    <div class="blackOverlay"> 
        <div class="container">
            <div class="row">
                <!--information about website-->
                <div class="col-md-7 col-12 mt-5 pt-5">
                    <!--First paragragh-->
                    <div>
                        <p class="text-white">
                        Welcome to
                        <app-memosland-text class="h3"></app-memosland-text> ,<br><br>
                        <app-memosland-text></app-memosland-text> 
                        is a website where you can add all of your memories. 
                        Sign up now for free and spoil your memories.
                        </p>
                        <br> 
                    </div>
                    <!--The get started button-->
                    <button 
                    class="btn btn-outline-primary btn-block text-secondary font-weight-bold"
                    type="button">
                        Get Started
                    </button>
                    <!--Slogan-->
                    <div class="text-white text-center mt-4">
                        <small>
                            <app-memosland-text></app-memosland-text>
                             , Your memories' favourate place.
                        </small>    
                        </div>
                </div>
    
                <!--sign up form-->
                <div class="col-md-5 col-12 mt-5 pt-5">
                   <app-signup></app-signup>
                </div>

            </div>
        </div>
    </div>
</header>
