
<header>
    <div class="background-blur"></div> <!--Added background photo-->
        <div class="blackOverlay content pb-5 mb-5"> <!--the content-->
            <div class="container">
                <div class="row">
                    <!--information about website-->
                    <div class="col-md-7 col-12 mt-5 pt-5">
                        <div class="vertical-center goToWhitePlace">

                                <!--First paragragh-->
                                <div class="pb-5">
                                    <p class="text-white">
                                    Welcome to
                                    <app-memosland-text class="h3"></app-memosland-text> ,<br><br>
                                    <app-memosland-text></app-memosland-text> 
                                    is a website where you can add all of your memories. 
                                    Sign up now for free and spoil your memories.
                                    </p>
                                </div>
                                <!--The get started button-->
                                <a 
                                class="
                                btn 
                                btn-outline-primary 
                                btn-block 
                                text-secondary 
                                font-weight-bold 
                                mt-5"
                                routerLink="/memos">
                                    Get Started
                                </a>
            
                                <!--Slogan-->
                                <div class="text-white text-center mt-4">
                                    <small>
                                        <app-memosland-text></app-memosland-text>
                                        , Your memories' favourate place.
                                    </small>    
                                </div>
                            </div>
                        </div>
        
                    <!--sign up form-->
                    
                        

                            <div class="col-md-5 col-12 mt-5 pt-5">
                            <app-signup></app-signup>
                            </div>
                        
                    

                </div>
            
            </div>
        </div>
</header>


                    <!--The memo into message-->
        
                <app-memos-leader-message 
                src="assets/photos/memo-left-slogan.png"
                title="Hi My Friend, Welcome To MemosLand"
                message="I'm the memos' leader here in the website, 
                you can call me ML as my friends do because you are now one of them ♥"
                [buttons]="[{name:'Sign In',link:'/sign-in'},{name:'Make Account Now',link:'/sign-up'}]"
                ></app-memos-leader-message>
        
        
   

