<nav class="navbar navbar-expand-md navbar-light  fixed-top">
    <div class="container">
        
                    <!--Logo-->
        <a class="navbar-brand " [routerLink]="['/']">
                                    <!--here to work on github pages must be as this-->
            <img class="logo-small" src="assets/photos/memosLandText.png">
        </a>
            

            
        <button class="navbar-toggler bg-secondary" #clickTheButton type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            
                        <!--list of button-->
        <div class="collapse navbar-collapse text-center" id="navbarNavAltMarkup"> 
                            <!--ml-auto to make it float to right-->
                <div class="navbar-nav ml-auto">
                    <a  class="nav-item nav-link text-light bg-primary border-0 rounded" 
                        [routerLink]="['/home']"
                        (click)="close()"
                        >Home</a>

                    <a class="nav-item nav-link text-light bg-secondary border-0 rounded" 
                        [routerLink]="['/memos','add']"
                        (click)="close()"
                        *ngIf="isAuth">Add Memo</a>

                    <a class="nav-item nav-link text-light bg-primary border-0 rounded" 
                        [routerLink]="['/memos','view']"
                        (click)="close()"
                        *ngIf="isAuth">My Memos</a>

                    <a class="nav-item nav-link text-light bg-secondary border-0 rounded" 
                        [routerLink]="['/sign-in']"
                        (click)="close()"
                        *ngIf="!isAuth"
                        >Sign In</a>
                    <a class="nav-item nav-link text-light bg-secondary border-0 rounded"
                    (click)="onLogout()"
                    style="cursor: pointer;"
                    *ngIf="isAuth">Logout</a>
                </div>
            </div>
    </div>
        
        
        
     
</nav>


