<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="logo-small" src="../../assets/photos/memosLandText.png">
        </a>
        
        
            <!--The button to be replaced-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <!--ml-for-nav is to shift it to right-->
        <div class="collapse navbar-collapse text-center ml-for-nav" id="navbarNavAltMarkup"> 
            <div class="navbar-nav">
              <a class="nav-item nav-link " href="#">Home</a>
              <a class="nav-item nav-link " href="#">Add Memo</a>
              <a class="nav-item nav-link " href="#">My Memos</a>
              <a class="nav-item nav-link " href="#">Sign In</a>
            </div>
        </div>
    </div> 
</nav>


