<div class="card border-light mb-2">
    <div class="card-header text-center">SIGN UP</div>
    <div class="card-body">
        <form>
            <!--Username field-->
            <div class="form-group">
                <label for="username">UserName</label>
                <input 
                class="form-control" 
                name="username" 
                placeholder="UserName" 
                type="text"
                required>
            </div>
            <!--password field-->
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                class="form-control" 
                name="password" 
                placeholder="Password" 
                type="password"
                required>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, 
                    contain letters and numbers, and must not contain spaces, 
                    special characters, or emoji.
                </small>
            </div>
            <!--email field-->
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                class="form-control" 
                name="email" 
                placeholder="Email" 
                type="email"
                required>
            </div>
            <!--submit button-->
            <div class="text-center">
                <button 
                class="btn btn-outline-secondary text-primary font-weight-bold"
                type="submit">Make Acount
                </button>
            </div>
        </form>
    </div>

