<div class="container">
    <div class="row">
        <div class="col-12">
              <div class="card border-light mb-2 shadow">
                    <div class="card-header text-center">
                        <app-memos-leader-message
                        title="Adding a Memo"
                        message="Because I'm the leader here I'll be here with you. 
                        The recruitment of a memo must be done carefully. I wish this memo was a good one ♥"
                        src="assets/photos/memo-thinking.png"></app-memos-leader-message>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()" #memoForm="ngForm">

                            <!--Username field-->
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input 
                                class="form-control"
                                [ngStyle]="{'border':!title.dirty && title.touched ? '1px red solid':''}"
                                name="title" 
                                placeholder="Title" 
                                type="text"
                                ngModel
                                #title="ngModel"
                                required>
                            </div>

                            <!--Date field-->
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input 
                                class="form-control"
                                [ngStyle]="{'border':!date.dirty && date.touched ? '1px red solid':''}"
                                name="date" 
                                type="date"
                                #date="ngModel"
                                ngModel
                                required>
                            </div> 
                        
                            <!--Memory details field-->
                            <div class="form-group">
                                <label for="info">What happend in that day ♥</label>
                                <textarea 
                                class="form-control"
                                [ngStyle]="{'border':!info.dirty && info.touched ? '1px red solid':''}"
                                name="info"
                                rows="5"
                                ngModel
                                #info="ngModel"
                                required>
                                </textarea>
                            </div>

                            <!--Photo upload-->
                            <div class="form-group round">
                                <label for="url">Photo</label>
                                <input 
                                class="d-block"
                                [ngStyle]="{'border':!this.selectedImg && this.fileInputClicked? '1px red solid':''}"
                                name="url"  
                                type="file"
                                #fileInput
                                (change)="onChange($event.target.files)"
                                (click)="fileInputClicked=true"
                                required>
                            </div>

                            
                            
                                
                            <!--submit button-->
                            <div class="row">
                                <div class="mt-5 col-8 mx-auto text-center"> 
                                    <button 
                                    class="btn btn-secondary text-primary font-weight-bold d-block mx-auto"
                                    type="submit"
                                    *ngIf="!loading"
                                    [disabled]="!memoForm.valid || !selectedImg"
                                    >Add The Memo
                                    </button>
                                    <small 
                                    class="text-success"
                                    *ngIf="submitedOnceAtLeast && !memoForm.dirty &&( !loading)"
                                    >This memo has been added successfully,<br>Add more memos if you want ♥
                                    </small>
                                                        <!--Spinner to appear while uploading-->
                                    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
                                </div>
                            </div>
                                


                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
    

